# compiled files
__pycache__/
*.py[cod]

# build files
dist/
build/
*.egg-info
*.tar.gz

# ide files
.idea/
.vscode/

# virtualenv
venv/

# unittest / coverage
.cache/
.pytest_cache/
.cov_html/
.coverage

# project files
